/**
 * @name Midnight - Matugen
 * @description A dark, rounded discord theme.
 * @author refact0r, esme, anubis, tr1x_em
 * @version 2.2.1
 * @website https://github.com/tr1x_em
 * @authorLink https://trix.is-a.dev
*/



/* import theme modules */
@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

body {
    /* font options */
    --font: 'figtree'; /* change to '' for default discord font */
    --code-font: ''; /* change to '' for default discord font */
    font-weight: 400; /* normal text font weight. DOES NOT AFFECT BOLD TEXT */

    /* sizes */
    --gap: 12px; /* spacing between panels */
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
    --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */

    /* animation/transition options */
    --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
    --border-hover-transition: 0.2s ease; /* transition for borders when hovered */

    /* top bar options */
    --top-bar-height: var(--gap); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
    --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    /* window controls */
    --custom-window-controls: on; /* off: default window controls, on: custom window controls */
    --window-control-size: 14px; /* size of custom window controls */

    /* dms button options */
    --custom-dms-icon: custom; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
    --dms-icon-svg-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-secondary); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
    --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
    --dms-background-image-url: url(''); /* url of the background image */
    --dms-background-image-size: cover; /* size of the background image (css background-size property) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background property) */

    /* background image options */
    --background-image: off; /* off: no background image, on: enable background image (must set url variable below) */
    --background-image-url: url('https://r2.e-z.host/68f0782e-ab00-4eda-a7e2-8cdad0dd1281/l1mspcfb.jpg'); /* url of the background image */

    /* transparency/blur options */
    /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
    --transparency-tweaks: on; /* off: no changes, on: remove some elements for better transparency */
    --remove-bg-layer: on; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: on; /* off: no changes, on: blur the background of panels */
    --blur-amount: 12px; /* amount of blur */
    --bg-floating: var(--bg-3); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

    /* chatbar options */
    --custom-chatbar: aligned; /* off: default chatbar, aligned: chatbar aligned with the user panel, separated: chatbar separated from chat */
    --chatbar-height: 47px; /* height of the chatbar (52px by default, 47px recommended for aligned, 56px recommended for separated) */
    --chatbar-padding: 8px; /* padding of the chatbar. only applies in aligned mode. */

    /* other options */
    --small-user-panel: on; /* off: default user panel, on: smaller user panel like in old discord */
}

:root {
	/* font, change to 'gg sans' for default discord font*/
	--font: 'gg sans';

	/* top left corner text */
	--corner-text: 'tr1x_em';


    /* status indicator colors */
    --online: var(--green-2); /* change to #40a258 for default */
    --dnd: var(--red-2); /* change to #d83a41 for default */
    --idle: var(--yellow-2); /* change to #cc954c for default */
    --streaming: var(--purple-2); /* change to ##9147ff for default */
    --offline: var(--text-4); /* change to #82838b for default offline color */

            /* border colors */
    --border-light: var(--hover); /* general light border color */
    --border: var(--active); /* general normal border color */
    --border-hover: var(--active); /* border color of panels when hovered */
    --button-border: hsl(220, 0%, 100%, 0.1); /* neutral border color of buttons */
	/* accent colors */
	--accent-1: {{colors.primary.default.hex}}; /* links */
	--accent-2: {{colors.primary.default.hex}}; /* general unread/mention elements */
	--accent-3: {{colors.primary.default.hex}}; /* accent buttons */
	--accent-4: {{colors.primary.default.hex}}; /* accent buttons when hovered */
	--accent-5: {{colors.primary.default.hex}}; /* accent buttons when clicked */
        --accent-new: var(--accent-2); /* stuff that's normally red like mute/deafen buttons */
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

	/* text colors */
	--text-0: var(--bg-4); /* text on colored elements */
	--text-1: var(--text-2); /* other normally white text */
	--text-2: {{colors.on_background.default.hex}}; /* headings and important text */
	--text-3: color-mix(in srgb, var(--text-2) 90%, black); /* normal text */
	--text-4: color-mix(in srgb, var(--text-2) 80%, black); /* icon buttons and channels */
	--text-5: color-mix(in srgb, var(--text-2) 50%, black); /* muted channels/chats and timestamps */

	/* background and dark colors */
	--bg-1: hsl(0, 0%, 25%); /* dark buttons when clicked */
	--bg-2: hsl(20, 5%, 22%); /* dark buttons */
	--bg-3: {{colors.background.default.hex}}; /* spacing, secondary elements */
	--bg-4: color-mix(in srgb, var(--bg-3) 30%, black); /* main background color */
	--hover: color-mix(in srgb, {{colors.primary.default.hex}} 10%, black);
	--active: color-mix(in srgb, {{colors.primary.default.hex}} 20%, black);
	--active-2: color-mix(in srgb, {{colors.primary.default.hex}} 19%, black);
	--message-hover: color-mix(in srgb, {{colors.primary.default.hex}} 10%, black);

	/* amount of spacing and padding */
	--spacing: 8px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 20px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 20px; /* smaller panels, images, embeds */
	--roundness-s: 20px; /* members, settings inputs */
	--roundness-xs: 20px; /* channels, buttons */
	--roundness-xxs: 20px; /* searchbar, small elements */


	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: none; /* login background artwork */
	--green-to-accent-3-filter: none; /* add friend page explore icon */
	--blurple-to-accent-3-filter: none; /* add friend page school icon */

    /* base colors */
    --red-1: oklch(75% 0.12 0);
    --red-2: oklch(70% 0.12 0);
    --red-3: oklch(65% 0.12 0);
    --red-4: oklch(60% 0.12 0);
    --red-5: oklch(55% 0.12 0);

    --green-1: oklch(75% 0.11 170);
    --green-2: oklch(70% 0.11 170);
    --green-3: oklch(65% 0.11 170);
    --green-4: oklch(60% 0.11 170);
    --green-5: oklch(55% 0.11 160);

    --blue-1: oklch(75% 0.1 215);
    --blue-2: oklch(70% 0.1 215);
    --blue-3: oklch(65% 0.1 215);
    --blue-4: oklch(60% 0.1 215);
    --blue-5: oklch(55% 0.1 215);

    --yellow-1: oklch(80% 0.11 90);
    --yellow-2: oklch(75% 0.11 90);
    --yellow-3: oklch(70% 0.11 90);
    --yellow-4: oklch(65% 0.11 90);
    --yellow-5: oklch(60% 0.11 90);

    --purple-1: oklch(75% 0.11 310);
    --purple-2: oklch(70% 0.11 310);
    --purple-3: oklch(65% 0.11 310);
    --purple-4: oklch(60% 0.11 310);
    --purple-5: oklch(55% 0.11 310);
}
