* {
    primary: #ffb688;
    primary-fixed: #ffdbc7;
    primary-fixed-dim: #ffb688;
    on-primary: #512400;
    on-primary-fixed: #311300;
    on-primary-fixed-variant: #6e390f;
    primary-container: #6e390f;
    on-primary-container: #ffdbc7;
    secondary: #e5bfa9;
    secondary-fixed: #ffdbc7;
    secondary-fixed-dim: #e5bfa9;
    on-secondary: #432b1c;
    on-secondary-fixed: #2b1709;
    on-secondary-fixed-variant: #5b4130;
    secondary-container: #5b4130;
    on-secondary-container: #ffdbc7;
    tertiary: #caca93;
    tertiary-fixed: #e6e6ad;
    tertiary-fixed-dim: #caca93;
    on-tertiary: #32320a;
    on-tertiary-fixed: #1c1d00;
    on-tertiary-fixed-variant: #48491e;
    tertiary-container: #48491e;
    on-tertiary-container: #e6e6ad;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #19120d;
    on-surface: #f0dfd7;
    on-surface-variant: #d7c3b8;
    outline: #9f8d83;
    outline-variant: #52443c;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #f0dfd7;
    inverse-on-surface: #382e29;
    inverse-primary: #8b4f24;
    surface-dim: #19120d;
    surface-bright: #413731;
    surface-container-lowest: #140d08;
    surface-container-low: #221a15;
    surface-container: #261e19;
    surface-container-high: #312823;
    surface-container-highest: #3d332d;
}
