Checks: >
    bugprone-*,
    concurrency-*,
    clang-analyzer-*,
    performance-*, portability-*,
    readability-*,
    modernize-*,
    misc-*,
    hicpp-*,
    cert-*,
    boost-*,
    llvm-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-owning-memory,
    -readability-magic-numbers,
    -readability-identifier-length,
    -modernize-use-trailing-return-type,
    -modernize-use-auto,
    -performance-avoid-endl,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-pro-type-vararg,
    -readability-function-cognitive-complexity,
    -readability-function-size,
    -readability-isolate-declaration,
    -readability-implicit-bool-conversion,
    -cert-err58-cpp
#
# Checks: "*"
WarningsAsErrors: "bugprone-*,clang-analyzer-*"

FormatStyle: file
