CompileFlags:
    Add:
        # - -std=c++26
        - -Wall
        - -Wextra
        - -Wpedantic
        - -pedantic

Diagnostics:
    UnusedIncludes: Strict
#     MissingIncludes: Strict

Completion:
    AllScopes: Yes
    HeaderInsertion: IWYU
    ArgumentLists: FullPlaceholders

InlayHints:
    Enabled: Yes
    ParameterNames: Yes
    DeducedTypes: Yes
    Designators: Yes
    BlockEnd: Yes
    DefaultArguments: Yes

Hover:
    ShowAKA: Yes
