# container display
xhost +local:
# container audio
pactl load-module module-native-protocol-tcp port=4656 listen=0.0.0.0 auth-anonymous=true 2>&1 >/dev/null &
# bluetooth
rfkill unblock bluetooth
vicinae vicinae://launch/@Gelei/store.vicinae.bluetooth/bluetooth-on
